<h1 ng-if="acao === 'NOVO'">Novo Usuário</h1>
<h1 ng-if="acao === 'EDICAO'">Editar Usuário</h1>
<hr>

<div ng-if="mostrarAlertaSucesso" class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
    Operação realizada com sucesso!
</div>

<div ng-if="mostrarAlertaErro" class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Erro!</strong> Ocorreu um erro ao efetuar a operação. Tente novamente.
</div>

<form name="profissionalForm" novalidate>
    <div class="col-md-12 form-group">
        <label for="tipoUsuario">Tipo do Usuário</label>
        <select id="tipoUsuario" class="form-control" ng-model="usuario.tipoUsuario" ng-disabled="acaoFinalizada">
            <option value="MEDICO">Médico</option>
            <option value="RECEPCIONISTA">Recepcionista</option>
        </select>
    </div>

    <div class="col-md-12 form-group">
        <label for="nomeUsuario">Nome</label>
        <input id="nomeUsuario" name="nomeUsuario" class="form-control" type="text" ng-model="usuario.nome"
               ng-disabled="acaoFinalizada" required>
        <p ng-show="profissionalForm.nomeUsuario.$touched && profissionalForm.nomeUsuario.$error.required"
           class="mensagem-erro">Nome é um campo obrigatório</p>
    </div>

    <div class="col-md-6 form-group">
        <label for="loginUsuario">Login</label>
        <input id="loginUsuario" name="loginUsuario" class="form-control" type="text" ng-model="usuario.login"
               ng-disabled="acaoFinalizada" required>
        <p ng-show="profissionalForm.loginUsuario.$touched && profissionalForm.loginUsuario.$error.required"
           class="mensagem-erro">Login é um campo obrigatório</p>
    </div>

    <div class="col-md-6 form-group">
        <label for="senhaUsuario">Senha</label>
        <input id="senhaUsuario" name="senhaUsuario" class="form-control" type="password" ng-model="usuario.senha"
               ng-minlength="6" ng-disabled="acaoFinalizada" required>
        <p ng-show="profissionalForm.senhaUsuario.$touched && profissionalForm.senhaUsuario.$error.required"
           class="mensagem-erro">Senha é um campo obrigatório</p>
        <p ng-show="profissionalForm.senhaUsuario.$touched && profissionalForm.senhaUsuario.$error.minlength"
           class="mensagem-erro">A senha deve conter pelo menos 6 caracteres.</p>
    </div>

    <div class="col-md-12 form-group" ng-show="!acaoFinalizada">
        <button class="btn btn-danger" ui-sref="usuario.listagem">Cancelar</button>
        <button class="btn btn-success" ng-disabled="profissionalForm.$invalid"
                ng-click="salvar()">Salvar
        </button>
    </div>

    <div class="col-md-12 form-group" ng-show="acaoFinalizada">
        <button class="btn btn-primary" ui-sref="usuario.listagem">Voltar</button>
    </div>
</form>