<div class="col-md-6 info-paginacao">
    <span ng-if="isNumRegistroMaiorZero()">
        Mostrando de {{inicio}} até {{fim}} de {{numRegistros}} registros.
    </span>
    <span ng-if="!isNumRegistroMaiorZero()">
        Nenhum registro encontrado.
    </span>
</div>
<nav class="paginacao" ng-if="isNumRegistroMaiorZero()">
    <ul class="pagination pagination-md">
        <li ng-class="getAnteriorClass()">
            <a href="" aria-label="Previous" ng-click="paginaAnterior()">
                <span aria-hidden="true">Anterior</span>
            </a>
        </li>
        <li ng-if="existePaginasAnteriores"><a>...</a></li>
        <li ng-repeat="pagina in arrayPaginas track by $index" ng-class="getPaginaClass(pagina)">
            <a href="" ng-click="irParaPagina(pagina)">{{pagina}}</a>
        </li>
        <li ng-if="existePaginasPosteriores"><a>...</a></li>
        <li ng-class="getProximoClass()">
            <a href="" aria-label="Next" ng-click="proximaPagina()">
                <span aria-hidden="true">Próximo</span>
            </a>
        </li>
    </ul>
</nav>
