<div>
    <form novalidate name="loginForm" role="form">
        <div class="form-group">
            <label for="usuario">Username</label>
            <input id="usuario" name="usuario" class="form-control" type="text" ng-model="usuario" required/>
            <span ng-show="loginForm.usuario.$touched && loginForm.usuario.$error.required" class="mensagem-erro">
            O campo login é obrigatório.
        </span>
        </div>
        <div class="form-group">
            <label for="senha">Password</label>
            <input id="senha" name="senha" class="form-control" type="password" ng-model="senha" required/>
            <span ng-show="loginForm.senha.$touched && loginForm.senha.$error.required" class="mensagem-erro">
            O campo senha é obrgatório.
        </span>
        </div>
        <div class="form-actions">
            <button ng-click="autenticar()" ng-disabled="form.$invalid" class="btn btn-danger">
                Entrar
            </button>
            <!--<img ng-if="dataLoading"-->
            <!--src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>-->
        </div>
    </form>
</div>