<h1>Pesquisar Médicos</h1>
<hr>

<div ng-if="mostrarAlertaSucesso" class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
    Operação realizada com sucesso!
</div>

<div ng-if="mostrarAlertaErro" class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Erro!</strong> Ocorreu um erro ao efetuar a operação. Tente novamente.
</div>

<div class="col-md-12">
    <a class="link-novo-cadastro" ui-sref="medico.novo">
        <span class="glyphicon glyphicon-plus-sign"></span> Cadastrar Médico
    </a>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Especialidade</th>
        <th>CRM</th>
        <th>Login</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="medico in medicos track by medico.id">
        <td>{{medico.nome}}</td>
        <td>{{medico.especialidade}}</td>
        <td>{{medico.crm}}</td>
        <td>{{medico.login}}</td>
        <td>
            <button type="button" class="btn btn-sm btn-warning"
                    ui-sref="medico.edicao({id: medico.id})">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button type="button" class="btn btn-sm btn-danger" ng-click="excluirMedico(medico.id)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>