body {
    font-size: 150%;
}

a:link, a:visited, a:focus {
    text-decoration: none;
    color: darkgreen;
}

a:hover {
    color: green;
    cursor: pointer;
    text-decoration: none;
}

.link-novo-cadastro {
    color: darkgreen;
    font-weight: bold;
    float: right;
}

label::after {
    content: ' *';
    color: red;
}

.mensagem-erro {
    color: red;
    padding-top: 5px;
}