<barra-navegacao></barra-navegacao>

<h1 ng-if="acao === 'NOVO'">Novo Médico</h1>
<h1 ng-if="acao === 'EDICAO'">Editar Médico</h1>
<hr>

<mensagem-erro></mensagem-erro>
<mensagem-sucesso mostrar-alerta-sucesso="mostrarAlertaSucesso"></mensagem-sucesso>

<form novalidate ng-submit="salvar(medicoForm.$valid)" name="medicoForm" role="form">
    <div class="col-md-12">
        <h3>Dados do Médico</h3>
    </div>

    <div class="col-md-6 form-group">
        <label for="nomeMedico">Nome</label>
        <input id="nomeMedico" name="nomeMedico" class="form-control" type="text" ng-model="medico.nome"
               maxlength="254" ng-disabled="acaoFinalizada" required autofocus>
        <p ng-show="medicoForm.nomeMedico.$touched && medicoForm.nomeMedico.$error.required"
           class="mensagem-erro">Nome é um campo obrigatório</p>
    </div>

    <div class="col-md-6 form-group">
        <label for="crmMedico">CRM</label>
        <input id="crmMedico" name="crmMedico" class="form-control" type="text" ng-model="medico.crm"
               onkeypress="return event.charCode >= 48 && event.charCode <= 57"
               maxlength="254" ng-minlength="4" ng-disabled="acaoFinalizada" required>
        <p ng-show="medicoForm.crmMedico.$touched && medicoForm.crmMedico.$error.required"
           class="mensagem-erro">CRM é um campo obrigatório</p>
        <p ng-show="medicoForm.crmMedico.$touched && medicoForm.crmMedico.$error.minlength"
           class="mensagem-erro">O CRM deve conter pelo menos quatro dígitos.</p>
    </div>

    <div class="col-md-12 form-group">
        <label for="especialidadeMedico">Especialidade</label>
        <select id="especialidadeMedico" name="especialidadeMedico" class="form-control" ng-model="medico.especialidade"
                ng-disabled="acaoFinalizada" required>
            <option value="">Selecione</option>
            <option ng-repeat="especialidade in especialidades track by especialidade.id"
                    value="{{especialidade.id}}">
                {{especialidade.value}}
            </option>
        </select>
        <p ng-show="medicoForm.especialidadeMedico.$touched && medicoForm.especialidadeMedico.$error.required"
           class="mensagem-erro">Especialidade é um campo obrigatório</p>
    </div>

    <div class="col-md-12">
        <h3>Dados de Acesso ao Sistema</h3>
    </div>

    <div class="col-md-6 form-group">
        <label for="loginUsuario">Login</label>
        <input id="loginUsuario" name="loginUsuario" class="form-control" type="text" ng-model="medico.usuario.login"
               maxlength="254" ng-disabled="acaoFinalizada" required>
        <p ng-show="medicoForm.loginUsuario.$touched && medicoForm.loginUsuario.$error.required"
           class="mensagem-erro">Login é um campo obrigatório</p>
    </div>

    <div class="col-md-12 form-group" ng-show="!acaoFinalizada">
        <button class="btn btn-success" ng-disabled="medicoForm.$invalid">
            Salvar
        </button>
        <button class="btn btn-danger" ui-sref="medico.listagem">
            Cancelar
        </button>
    </div>

    <div class="col-md-12 form-group" ng-show="acaoFinalizada">
        <button class="btn btn-primary" ui-sref="medico.listagem">
            Voltar
        </button>
    </div>
</form>