a:link, a:visited, a:focus, a:hover, a:active {
    text-decoration: none;
}

div.table-responsive {
    margin-top: 20px;
}

ul.pagination {
    margin: 0;
}

@media screen and (max-width: 767px) {
    .info-paginacao {
        padding-left: 0;
        padding-top: 8px;
        margin-bottom: 5px;
        text-align: center;
    }

    .paginacao {
        margin-bottom: 20px;
        text-align: center;
    }

    .pull-right {
        float: none !important;
    }

    .alerta {
        width: 70% !important;
    }
}

@media screen and (min-width: 768px) {
    .info-paginacao {
        padding-left: 0;
        padding-top: 8px;
        text-align: left;
    }

    .paginacao {
        margin-bottom: 20px;
        text-align: right;
    }
}

.margem-top {
    margin-top: 80px;
}

.alerta {
    margin: 0;
    position: fixed;
    right: 20px;
    top: 20px;
    width: 40%;
    z-index: 1001;
}