body {
    font-size: 150%;
}

a:link, a:visited, a:focus {
    text-decoration: none;
}

button.acoes-item-listagem {
    margin-bottom: 4px;
}

label::after {
    content: ' *';
    color: red;
}

nav {
    background-color: black !important;
    border-color: black !important;
}

nav a {
    color: white !important;
}

.mensagem-erro {
    color: red;
    padding-top: 5px;
}