form h3 {
    margin: 0 0 10px 0;
}

label {
    font-weight: normal;
}

form input[class*='ng-valid'].ng-touched {
    border-color: #46be8a;
}

form input[class*='ng-invalid'].ng-touched {
    border-color: #f96855;
}

form select.ng-valid.ng-touched {
    border-color: #46be8a;
}

form select.ng-invalid.ng-touched {
    border-color: #f96855;
}

.campo-obrigatorio {
    color: #f96855;
}

.mensagem-erro {
    color: #f96855;
    font-size: 85%;
    padding-top: 5px;
}