<h1>Pesquisar Recepcionistas</h1>
<hr>

<mensagem-erro></mensagem-erro>
<mensagem-sucesso mostrar-alerta-sucesso="mostrarAlertaSucesso"></mensagem-sucesso>

<div class="row">
    <div class="col-md-9 form-group">
        <input id="nomeLoginFiltro" name="nomeLoginFiltro" class="form-control" type="text"
               placeholder="Pesquisar por Nome ou Login" ng-model="filtro.nomeLogin">
    </div>

    <div ng-show="!pesquisaRealizada" class="col-md-2 form-group">
        <button type="button" class="btn btn-block btn-primary" ng-click="pesquisar()">
            <span class="glyphicon glyphicon-search"></span> Pesquisar
        </button>
    </div>

    <div ng-show="pesquisaRealizada" class="col-md-1 form-group">
        <button type="button" class="btn btn-block btn-primary" ng-click="pesquisar()">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </div>

    <div ng-show="pesquisaRealizada" class="col-md-1 form-group">
        <button type="button" class="btn btn-block btn-danger" ng-click="limparPesquisa()">
            <span class="glyphicon glyphicon-erase"></span>
        </button>
    </div>

    <div class="col-md-1">
        <button type="button" class="btn btn-block btn-success" ui-sref="recepcionista.novo">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </button>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th class="col-md-5">Nome</th>
            <th class="col-md-5">Login</th>
            <th class="col-md-2"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="recepcionista in registrosPagAtual track by recepcionista.id">
            <td class="col-md-5">{{recepcionista.nome}}</td>
            <td class="col-md-5">{{recepcionista.usuario.login}}</td>
            <td class="col-md-2">
                <a href="#" ui-sref="recepcionista.edicao({id: recepcionista.id})">
                    <span class="glyphicon glyphicon-pencil"></span> Editar
                </a>
                <a href="#" data-toggle="modal" data-target="#modalExclusao" ng-click="excluirRecepcionista(recepcionista.id)">
                    <span class="glyphicon glyphicon-trash"></span> Excluir
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<paginacao-tabela num-registros="recepcionistas.length" pagina-atual="paginaAtual"></paginacao-tabela>

<div id="modalExclusao" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Deseja realmente excluir este cadastro?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancelar
                </button>
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="confirmarExcluirRecepcionista()">
                    Confirmar
                </button>
            </div>
        </div>
    </div>
</div>