<barra-navegacao></barra-navegacao>

<h1 ng-if="acao === 'NOVO'">Nova Solicitação de Exames</h1>
<h1 ng-if="acao === 'EDICAO'">Editar Solicitação de Exames</h1>
<hr>

<mensagem-erro></mensagem-erro>
<mensagem-sucesso mostrar-alerta-sucesso="mostrarAlertaSucesso"></mensagem-sucesso>

<form novalidate ng-submit="salvar(solicitacaoExameForm.$valid)" name="solicitacaoExameForm" role="form">
    <div class="col-md-12">
        <h3>Dados da Solicitação de Exames</h3>
    </div>

    <div class="col-md-4 form-group">
        <label for="paciente">Paciente</label> <span class="campo-obrigatorio">*</span>
        <select id="paciente" name="paciente" class="form-control" ng-model="solicitacaoExame.paciente"
                ng-options="paciente as paciente.nome for paciente in pacientes track by paciente.id"
                ng-disabled="acaoFinalizada" required>
            <option value="">Selecione</option>
        </select>
        <p ng-show="solicitacaoExameForm.paciente.$touched && solicitacaoExameForm.paciente.$error.required"
           class="mensagem-erro">Paciente é um campo obrigatório</p>
    </div>

    <div class="col-md-4 form-group">
        <label for="medico">Médico</label> <span class="campo-obrigatorio">*</span>
        <select id="medico" name="medico" class="form-control" ng-model="solicitacaoExame.medico"
                ng-options="medico as medico.nome for medico in medicos track by medico.id"
                ng-disabled="acaoFinalizada" required>
            <option value="">Selecione</option>
        </select>
        <p ng-show="solicitacaoExameForm.medico.$touched && solicitacaoExameForm.medico.$error.required"
           class="mensagem-erro">Médico é um campo obrigatório</p>
    </div>

    <div class="col-md-4 form-group">
        <label for="entregue">Entregue ao Paciente</label> <span class="campo-obrigatorio">*</span>
        <select id="entregue" name="entregue" class="form-control" ng-model="solicitacaoExame.entregue"
                ng-options="option.value as option.label for option in [{label: 'Sim', value: true}, {label: 'Não', value: false}]"
                ng-disabled="acaoFinalizada" required>
            <option value="">Selecione</option>
        </select>
        <p ng-show="solicitacaoExameForm.entregue.$touched && solicitacaoExameForm.entregue.$error.required"
           class="mensagem-erro">Entregue é um campo obrigatório</p>
    </div>

    <div class="col-md-12">
        <h3>Exames Solicitados</h3>
    </div>

    <div ng-repeat="exame in exames" class="col-md-6 form-group">
        <label>
            <input id="exame{{exame.id}}" type="checkbox" name="{{exame.nome}}" value="{{exame}}"
                   ng-click="selecionarExame(exame)" ng-disabled="acaoFinalizada"> {{exame.nome}}
        </label>
    </div>

    <div class="col-md-12 form-group"
         ng-show="!acaoFinalizada || (solicitacaoExame.id && solicitacaoExame.entregue === 'true')">
        <button class="btn btn-success" ng-disabled="solicitacaoExameForm.$invalid">
            Salvar
        </button>
        <button class="btn btn-danger" ui-sref="solicitacaoExame.listagem">
            Cancelar
        </button>
    </div>

    <div class="col-md-12 form-group"
         ng-show="acaoFinalizada || (solicitacaoExame.id && solicitacaoExame.entregue === 'true')">
        <button class="btn btn-primary" ui-sref="solicitacaoExame.listagem">
            Voltar
        </button>
    </div>
</form>